doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title MusNote
        style.
            body {
                font-size: 100%;
                font-family: "Calibri", Georgia, Serif;
            }

            .divclass {
                margin-left: 10px;
                padding: 15px;
            }

            .inputnoteclass {
                width: 400px;
                height: 50px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .headers {
                margin-top: 20px;
                margin-bottom: 20px;
                padding-top: 15px;
                padding-bottom: 15px;
                font-size: large;
            }

            .but {
                margin-bottom: 7.5px;
            }

            textarea.note {
                color: blue;
                font-size: 150%;
                width: 600px;
                height: 100px;
                padding-top: 5px;
                padding-bottom: 5px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
    body
        p1.headers Welcome 
        p1.headers!=loginmessage
        hr
        #information.divclass
            p1 Username: 
            p1!=username
            br
            p1 Password: 
            p1!=password
            br
            p1 E-mail: 
            p1!=email
            br
            p1 Admin: 
            p1!=admin
            br
        hr
        div
            p1 Your Note:
            br
            textarea#shownote.note(readonly='', rows='4', cols='50')!=notes
        br
        form(action='addNote', method='post')
            textarea#inputnote.inputnoteclass(name='sendnote' placeholder='Enter Your Note Here', rows='4', cols='50')
            br
            button#sendbutton.but Send
        hr
        form(action='/delete', method='post')
            button.but Delete User
        form(action='/logout', method='post')
            button.but Log Out
                 
