doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    title A
  body
    p1 Welcome Admin 
    p1!=loginmessage
    hr
    p1 Username: 
    p1!=username
    p1  Password: 
    p1!=password
    br
    p1  E-mail:
    p1!=email
    p1  Admin: 
    p1!=admin
    hr
    p1 Total Users (Username, Password):
    br
    p1!=totalusers
    hr
    p1!=deleteduser
    form(action='/deletebyname', method='post')
      button Delete by Name
      input(name='username', value='')
    form(action='/logout', method='post')
      button Log Out
